.wrap {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
    background-color: #3b5995;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .a {
    color: rgb(241, 246, 250);
    padding-right: 20px;
    text-decoration: none;
}

main {
  max-width: 1000px;
  
}

.wrapper_footer {
  height: 300px;
  font-size: calc(10px + 2vmin);
  background-color: #3b5995;
  padding: 10px;
}